@charset "UTF-8";

$green-color: #67E400;
$light-blue-color: #68CCDA;
$medium-gray-color: #EDEDED;
$light-gray-color: #EEEEEE;

/* All
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px; }

.full-width-container {
  width: 100%;
  max-width: 100%;
  clear: both;
  margin: 0 auto; }

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }

#navbar-title {
    font-size: 4rem;
    text-decoration: none; }

.navbar-right {
  position: relative;
  float: right; }

.navbar-list {
  list-style: none;
  margin-bottom: 0; }

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
  margin-left: 10px; }
  .navbar-item a {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-left: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  height: 18rem;
  text-align: center;
  border-bottom: 1px solid $light-gray-color; }

.section-heading,
.section-description {
  margin-bottom: 1.2rem; }

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
  background-image: url("/static/imgs/Northwestern_University_Evanston_campus_overlay.jpg");
  background-size: cover;
  background-color: $light-blue-color;
  margin-top: 6.5rem;
  text-align: center;
  
  p {
    font-size: 7rem;
  }

 }

/* Info
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {

}

.value-div {
  h3 {
    border-bottom: 1px solid white;
  }
}

.active-div {
  h3 {
    border-bottom: 1px solid $light-gray-color;
  }
}

/* Signup
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.signup {
  padding-bottom: 40rem;
}

.submit-button {
  background-color: $green-color !important;
  border: 1px solid $green-color !important;
  font-size: 10px;
  -webkit-appearance:none;
 }

.email-input {
  font-size: 1.6m; }

#thank-you {
  display: none;
}

#error {
  display: none;
}

/* Team
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about {
  background-color: $medium-gray-color;
}

/* Team
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  background-color: $medium-gray-color;
}

