<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Checkit</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">


  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="css/github-prettify-theme.css">
  <script src="/static/js/csrf.js"></script>
  <script src="/static/js/jquery-ui.min.js"></script>
  <script src="/static/js/smooth-scroll.min.js"></script>
  <script src="/static/js/main.js"></script>


</head>
<body>
  <div class="full-width-container">
    <nav class="navbar">
      <div class="container">
        <div class="row">
          <div class="six columns">
            <a data-scroll href="/" class="hidden" id="navbar-title">Checkit</a>
          </div>
          <div class="six columns">
            <div class="navbar-right">
              <ul class="navbar-list">
                <li class="navbar-item"><a data-scroll href="#values">About</a></li>
                <li class="navbar-item"><a data-scroll href="#signup">Sign Up</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="section header">
      <p>Checkit</p>
    </div>
    <div class="section info">
      <h3 class="info-description">A location sharing app that lets you see where your friends are before you get there.</h3>
    </div>
    <div class="section values" id="values">
      <div class="row value-row">
        <div class="four columns value-div">
          <h3>Easy</h3>
          <div class="container">
            <p class="value-text">Simply open Checkit to see which friends are nearby or drop a pin so others can see you.</p>  
          </div>
        </div>
        <div class="four columns value-div">
          <h3>Private</h3>
          <div class="container">
            <p class="value-text">Select only the specific friends you want to see your location for each event.</p>
          </div>
        </div>
        <div class="four columns value-div">
          <h3>Disappearing</h3>
          <div class="container">
            <p class="value-text">Your location disappears when the event is over or when you leave.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section signup" id="signup">
      <div class="container">
        <h3>Be the first to know more.</h3>
        <form action="/submit_email/" method="POST" id="email-form">
        {% csrf_token %}
          <div class="row">
            <div class="ten columns">
                <input class="u-full-width email-input" type="email" placeholder="you@example.com" id="email-text">
                </div>
                <div class="two columns">
                <input class="button submit-button" type="submit">
              </div>
            </div>
        </form>
        <h5 id="disclaimer">We'll only use your e-mail to send you relevant information about the product, never spam.</h5>
        <h4 id="thank-you">Thanks!</h4>
      </div>
    </div>
<!--     <div class="section about" id="about">
    </div> -->
  </div>
  <div class="footer">
  </div>
  <script>
    smoothScroll.init();
  </script>
</body>
